
.navbar {
 
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f1f4f7;
}

.gradient-text {
 margin-top: 0;
  margin-bottom: 10px;
  font-size: 27px;
  background: linear-gradient(90deg, #ff41bc, #b54cf2, #b54cf2, #ff41bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For modern browsers */
  color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: medium;
  gap: 1.5rem;
}

.nav-links li a {
  color: #f4f2f2;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #eef3f8;
}
