.section-projects{
  margin-top: 60px;
}
.section-projects h2{
  text-align: center;
  font-size: 1.80rem;
  font-weight: 700;
  line-height: 1.3;
  background: linear-gradient(90deg, #ff41bc, #b54cf2, #ff41bc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.project-card {
  background: transparent;
  border: 2px solid #d946ef;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  color: #fffdfd;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.02);
  border-color: #972484;
  box-shadow: 0 10px 30px rgba(134, 25, 151, 0.4);
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #a855f7;
}

.project-info {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info h3 {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
  color: #ec4899;
}

.project-info p {
  font-size: 0.95rem;
  color: #e5e5e5;
  margin-bottom: 0.75rem;
  flex-grow: 1;
}

.tech-used {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tech-used span {
  background-color: #302b63;
  padding: 0.3rem 0.7rem;
  border-radius: 999px;
  font-size: 0.8rem;
  color: #f9a8d4;
  border: 1px solid #a855f7;
}

.project-links {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 1rem;
}

.project-links a {
  color: #a855f7;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #ec4899;
}
